@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Montserrat:400');

$font-primary: 'Montserrat', sans-serif !default;
$font-secondary: 'Oswald',  monospace !default;

$color-primary: #0086ff !default;
$color-secondary: #005A9C !default;
$color-tertiary: #1E90FF !default;
$color-dark: #0F0A0A !default;
$text-color: rgb(34, 34, 34) !default;
$text-color-light: #fff;
$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: #4c5454 !default;
$default-link-color: #ff715b !default;
$secondary-link-color: #ffce1e !default;
$background-primary: rgb(245, 245, 245) !default;
$background-secondary: #f2f3f2 !default;

$max-width: 1200px !default;

$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

$base-url: '/public/' !default;
