@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Montserrat:400');

$font-primary: 'Montserrat', sans-serif !default;
$font-secondary: 'Oswald',  monospace !default;

$color-primary: #0bc9cd;
$color-secondary: #1d8a99;
$color-dark: #0F0A0A;
// $color-dark: #086788;
$text-color: rgb(34, 34, 34) !default;
$text-color-light: #fff;
$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: #4c5454 !default;
$default-link-color: #ff715b !default;
// $background-primary: #CFFCFF;
$background-primary: rgb(245, 245, 245);
$background-secondary: #e8f4ff;

$max-width: 1200px !default;

$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

$base-url: '/public/' !default;
