@import url('https://fonts.googleapis.com/css?family=Oswald:700|Montserrat:300');

$font-primary: 'Work Sans', sans-serif !default;
$font-secondary: 'Montserrat', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

$blue-primary: #007bff;
$blue-secondary: #0a81ff;
$text-color: rgb(34, 34, 34) !default;
$brand-color: rgb(229, 0, 80) !default;
$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;
$default-link-color: #fff !default;

$max-width: 1180px !default;

$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
