.navbar {
  background-color: $background-primary;
  height: 7vh;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 5px rgba($dark-grey, 0.5);
  z-index: 10;

  &__navigation,
  &__social-links {
    display: flex;
  }

  &__brand {
    font: normal 2.5rem $font-secondary;
    color: $brand;
    margin-left: 2rem;
  }

  &__navigation {
    flex-grow: 1;
    margin-left: 4rem;
    padding: 0 2rem;
    border-radius: 3rem;
  }

  &__social-links {
    margin: 0 2rem;
  }

  &__search {
    margin-left: auto;
    margin-right: 2rem;
  }

  &__item {
    margin: 0 1rem;
  }

  &__link {

    @include link-basic {
      padding: 0 1rem;
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }
}

#search {
  margin-right: 1rem;
}