<nav class="navbar">

  <a href="/" class="navbar__brand"><i class="fas fa-globe-americas"></i> Travel Guides </a></a>
  <ul class="navbar__navigation">
    <li class="navbar__item"><a href="/" class="navbar__link">Home</a></li>
    <li class="navbar__item"><a href="/destinations" class="navbar__link">Destinations</a></li>
    <li class="navbar__item"><a href="/destinations/new" class="navbar__link">Add New Destination</a></li>
  </ul>
  <ul class="navbar__social-links">
    <li class="navbar__item"><a href="" class="navbar__social-link">Instagram</a></li>
    <li class="navbar__item"><a href="" class="navbar__social-link">Facebook</a></li>
  </ul>
  <form action="#" class="navbar__search">
    <input type="search" name="search" id="search">
    <button type="submit">Search</button>
  </form>
  <a href="/login">Login</a>
  <a href="/signup">Sign Up!</a>

</nav>