html {
  box-sizing: border-box;
  font-size: 62.5%;
}

html, body {
  overflow-x: hidden;
  background-color: $background-primary;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: $default-link-color;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;

  @include on-event {
    color: $brand;
  }
}

li {
  list-style: none;
}

label {
  padding: 1rem;
  display: inline-block;
  width: 15rem;
  text-align: center;
}

input {
  outline: none;
  padding: 1rem;
  border: 1px solid $color-secondary;
  border-radius: .5rem;

  &::placeholder {
    color: #bbb;
  }
}

textarea {
  resize: none;
}

button {
  padding: 1rem 1.5rem;
  background-color: $brand;
  color: #fff;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all .5s ease-in-out;

  @include on-event {
    background-color: $color-primary;
  }
}