// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: $max-width;
  margin: 0 auto;
  width: 100%;

  &--lg {
    max-width: 120rem;
  }
 }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.white-link {
  color: #fff;
}

.brand-icon {
  color: $brand;
}

.secondary-link {
  color: $secondary-link-color;
}

.flash__message {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #000;
  padding: 1rem;

  &--error {
    background-color: red;
    color: #fff;
  }
}

.mr-sm {
  margin-right: 1.5rem;
}

.mt-xl {
  margin-top: 20vh;
}

.mt-lg {
  margin-top: 13vh;
}

.mt-md {
  margin-top: 7vh;
}

.mt-sm {
  margin-top: 2vh;
}

.mb-sm {
  margin-bottom: 1.5rem;
} 

.underlined {
  position: relative;
  text-align: center;
  margin-bottom: 8rem;

  &--lg {
    @include orange-horizontal-line(80%);
  }
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.justified {
  text-align: justify;
}

.two-by-three-grid {
  display: grid;
  grid-template-rows: repeat(12, 5vh);
  grid-template-columns: repeat(6, minmax(min-content, 1fr));
  grid-gap: 1rem;
  margin-bottom: 5rem;
}

.grid-element {

  &--1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 7;
  }

  &--2 {
    grid-column: 4 / span 3;
    grid-row: 1 / span 7;
  }

  &--3 {
    grid-column: 1 / span 2;
    grid-row: 8 / -1;
  }

  &--4 {
    grid-column: 3 / span 2;
    grid-row: 8 / -1;
  }

  &--5 {
    grid-column: 5 / span 2;
    grid-row: 8 / -1;
  }
}

.grid-link {
  position: relative;

  &__text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -99%);
    width: 100%;
    text-align: center;
    background-color: rgba(#000, .7);
    color: #fff;
    font-family: $font-secondary;
    font-size: 1.75rem;
    padding: .75rem 0;
    text-transform: uppercase;
    z-index: 1;
  }
}