#hero {
  width: 100vw;
  // max-height: 93vh;
  height: 100vh;
  // margin-top: 7vh;
  // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,.6)), url('https://source.unsplash.com/random/1600x900/?travel') no-repeat center;
  background: url('../images/hero1.jpg') no-repeat bottom;
  background-size: cover;
}

.hero {

  &__content {
    display: flex;
    height: 100%;
  }

  &__header {
    width: 100%;
    padding: 2rem;
    margin: auto;
    color: $color-secondary;
    font-size: 5rem;
    font-family: $font-secondary;
    letter-spacing: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(#fff, .7);
    box-shadow: 0 1px 5px rgba($dark-grey, .6);
  }
}

.destinations {
  margin-top: 5rem;
}